<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Peliculas App</h1>
    <p class="lead">Esta es una aplicacion de peliculas.</p>
  </div>
</div>

<div class="container">
  <br>
    <app-slide [peliculas]="cartelera|slice:0:6"
                titulo="Pliculas en Cartelera">
    </app-slide>

    <app-slide [peliculas]="populares|slice:0:6"
                titulo="Populares">
    </app-slide>

    <app-slide [peliculas]="popularesKids|slice:0:6"
                titulo="Populares Niños">
    </app-slide>
</div>
