<div class="container">
  <br>
<h3 class="animates fadeIn fast">About COMICS</h3>
<hr>
<p class="animates fadeIn">
  GoComics, from Andrews McMeel Universal, is home to many of the most popular comics and cartoons in the world. GoComics.com is the web's largest catalog of syndicated newspaper strips, political cartoons and webcomics, offering free new content every day.

  Iconic cartoons include Peanuts, Calvin and Hobbes, Garfield, Ziggy and Dilbert. Recent successes include FoxTrot, Get Fuzzy, Pearls Before Swine, The Argyle Sweater, The Boondocks and Cul De Sac. There are two membership options (Free and Premium), both providing e-mail subscription and personalized online access to the GoComics library. With content from critically-acclaimed comic creators, Pulitzer Prize-winning editorial cartoonists and the hottest up-and-coming talents, GoComics is guaranteed to have something that will make you smile.</p>
</div>
